VITE_API_URL=http://localhost:3000

# Emails institucionais (frontend)
VITE_FALE_CONOSCO_EMAIL=fale-conosco@sigmaauto.com.br
VITE_CONTACT_EMAIL=contato@sigmaauto.com.br
VITE_SUPPORT_EMAIL=suporte@sigmaauto.com.br
VITE_SALES_EMAIL=assine@sigmaauto.com.br
VITE_GENERAL_EMAIL=sigmaauto@sigmaauto.com.br
